*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.card {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.heading {
	background: #007bff;
	color: #fff;
	text-align: center;
	padding: 20px;
}
.chat-wrapper {
	padding: 5px 0;
}
.message-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}
.name-field {
  margin-bottom: 40px;
}
.render-chat {
	height: 100%;
  overflow: auto;
}
h3 {
  color: #2f72da;
}
span {
  color: black;
}

/* INPUT */
.input-wrapper {
	width: 100%;
}

/* message-box */
input[type="text"]{
	width: 100%;
	padding: 10px;
}

/* BUTTON */
.submit-button {
	padding: 11px 27px;
	background: #007bff;
	border: none;
	color: #fff;
	font-size: 15px;
}